@font-face {
  font-family: KronaOne;
  src: url(../fonts/KronaOne-Regular.ttf);
}

/* COLOR COMBO IDEAS */
/*
  #0e0b16 #a239ca #4717f6 #e7dfdd
*/

:root{
  --text-color: #e7dfdd;
  --main-bg-color: #0e0b16;
  --main-bg-color-lighter: #14111c;
  --accent-color: #a239ca;
  --highlight-color: #4717f6;
}

html,body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 0.6fr 2.4fr;
  grid-template-rows: 0.12fr 1.88fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "logo search"
    "sitelist mapcontainer";
}

#sitelist {
  grid-area: sitelist;
  background-color: var(--main-bg-color-lighter); 
  overflow-y: scroll;
}

#mapcontainer {
  grid-area: mapcontainer;
  background-color: var(--main-bg-color-lighter);
}

#search {
  grid-area: search;
  background-color: var(--main-bg-color);
}

#logo {
  grid-area: logo;
  background-color: var(--main-bg-color);
  font-family: KronaOne, Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 2em;
  padding-top: 0.25em;
  color: var(--text-color);
}

#filter{
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background-color: var(--main-bg-color-lighter);
  color: var(--text-color);
  padding: 10px;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3em;
}

#filter:hover{
  background-color: var(--main-bg-color-lighter);
}

.jumppoint{
  width: 100%;
  height: 2em;
  border-radius: 0;
  background-color: var(--main-bg-color-lighter);
  color: var(--text-color);
  padding: 10px;
  padding-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3em;
}

.jumppoint:hover{
  background-color: var(--main-bg-color);
}

#mapid{
  width: 100%;
  height: 100%;
}


/* MOBILE SUPPORT */
@media only screen and (max-width: 600px){
  .container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 0.6fr 2.4fr;
    grid-template-rows: 0.12fr 1.88fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "logo search"
      "sitelist mapcontainer";
  }
  #logo {
    grid-area: logo;
    font-size: 1em;
    line-height: 2em;
  }
}
/* WIDTH STRECTHING */
@media only screen and (max-width: 1200px){
  .container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 0.6fr 2.4fr;
    grid-template-rows: 0.12fr 1.88fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "logo search"
      "sitelist mapcontainer";
  }
  #logo {
    grid-area: logo;
    font-size: 1em;
    line-height: 2em;
  }
}