apparmor==3.0.4
appdirs==1.4.4
attrs==21.4.0
autopep8==1.5.7
beautifulsoup4==4.9.3
Brlapi==0.8.4
btrfsutil==5.18.1
CacheControl==0.12.6
cattrs==22.1.0
ceph==1.0.0
ceph-volume==1.0.0
cephfs==2.0.0
cephfs-shell==0.0.1
certifi==2021.5.30
cffi==1.15.1
chardet==4.0.0
click==8.0.1
colorama==0.4.4
commonmark==0.9.1
cryptography==37.0.4
distlib==0.3.2
distro==1.7.0
docutils==0.19
exceptiongroup==1.0.0rc8
filelock==3.0.12
Flask==2.0.1
future==0.18.2
geojson==2.5.0
idna==2.10
itsdangerous==2.0.1
jaraco.context==4.1.1
jaraco.functools==3.5.1
jaraco.text==3.8.1
Jinja2==3.0.1
LibAppArmor==3.0.4
libfdt==1.6.1
libtorrent==2.0.7
libvirt-python==8.5.0
louis==3.22.0
MarkupSafe==2.0.1
more-itertools==8.13.0
msgpack==1.0.3
nftables==0.1
nspektr==0.4.0
ordered-set==4.0.2
packaging==21.3
pep517==0.12.0
platformdirs==2.5.1
ply==3.11
pycairo==1.21.0
pycodestyle==2.7.0
pycparser==2.21
Pygments==2.12.0
PyGObject==3.42.2
pyOpenSSL==22.0.0
pyowm==3.2.0
pyparsing==3.0.9
PySocks==1.7.1
rados==2.0.0
rbd==2.0.0
requests==2.25.1
resolvelib==0.8.1
rgw==2.0.0
six==1.16.0
soupsieve==2.2.1
team==1.0
tenacity==8.0.1
toml==0.10.2
tomli==2.0.1
trove-classifiers==2022.7.22
typing_extensions==4.2.0
url-normalize==1.4.3
urllib3==1.26.6
validate-pyproject==0.9
virtualenv==20.4.7
webencodings==0.5.1
Werkzeug==2.0.1
